<label>person Name</label>
<input type="text" class="form-control" [(ngModel)]="personName">
<p>This is the paragraph. Person name is: {{personName}}</p>
<button class="btn btn-primary"
        [disabled]="personName===''"
        (click)="nameAdded=true">
  Add Name to system
</button>

<button class="btn btn-primary"
        [disabled]="personName===''"
        (click)="nameAdded=false">
  Remove Name from system
</button>

<p [ngStyle]="{backgroundColor: getColor()}"> Person name is {{!nameAdded ? 'is not added' : personName}}</p>

